server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8071"
  # Development profile - no need for multiple profiles
  profiles:
    active: default